{
  "lobby": {
      "name": "lobby",
      "address": "192.168.0.1",
      "queryPort": 25565,
      "rconPort": 25567,
      "rconPassword": "xxxxxxxxxx"
  },
  "servers": [
    {
      "name": "main",
      "address": "192.168.0.1",
      "queryPort": 25566
    }
  ]
}
